<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DARU|HOME</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
 <div style="background-image:url(<?=base_url('../static/images/main_bg.jpg')?>;Background-repeat:default>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">DARU</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Login</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">SignUp</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-text">

                         <span class="skills">Data Structures</span>

                    </div>
                </div>
            </div>
        </div>
    </header>


<nav role="navigation" class="navbar navbar-default">

    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Experiences</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>

        </ul>
    </div>
</nav>


   <center>
	  <div style="background-color:#FFFFFF;width:1100px;">   <!-- main block -->
     <p>
     Aprogramming language uses control statements to cause the flow of execution to
	 advance and branch based on changes to the state of a program. Java’s program
	 control statements can be put into the following categories: selection, iteration, and
	 jump. Selection statements allow your program to choose different paths of execution based
	 upon the outcome of an expression or the state of a variable. Iteration statements enable
	 program execution to repeat one or more statements (that is, iteration statements form
	 loops). Jump statements allow your program to execute in a nonlinear fashion. All of Java’s
	 control statements are examined here.
	 Java’s Selection Statements
	 Java supports two selection statements: if and switch. These statements allow you to control the
	 flow of your program’s execution based upon conditions known only during run time. You will
	 be pleasantly surprised by the power and flexibility contained in these two statements.
	 if
	 The if statement was introduced in Chapter 2. It is examined in detail here. The if statement
	 is Java’s conditional branch statement. It can be used to route program execution through
	 two different paths. Here is the general form of the if statement:
	 if (condition) statement1;
	 else statement2;
	 Here, each statement may be a single statement or a compound statement enclosed in curly
	 braces (that is, a block). The condition is any expression that returns a boolean value. The else
	 clause is optional.
	 The if works like this: If the condition is true, then statement1 is executed. Otherwise,
	 statement2 (if it exists) is executed. In no case will both statements be executed. For example,
	 consider the following:
	 int a, b;
	 // ...

     </p>
     <p>
     class Inner {
	 void display() {
	 System.out.println("display: outer_x = " + outer_x);
	 }
	 }
	 }
	 class InnerClassDemo {
	 public static void main(String args[]) {
	 Outer outer = new Outer();
	 outer.test();
	 }
	 }
	 Output from this application is shown here:
	 display: outer_x = 100
	 In the program, an inner class named Inner is defined within the scope of class Outer.
	 Therefore, any code in class Inner can directly access the variable outer_x. An instance
	 method named display( ) is defined inside Inner. This method displays outer_x on the
	 standard output stream. The main( ) method of InnerClassDemo creates an instance of
	 class Outer and invokes its test( ) method. That method creates an instance of class Inner
	 and the display( ) method is called.
	 It is important to realize that an instance of Inner can be created only within the scope
	 of class Outer. The Java compiler generates an error message if any code outside of class
	 Outer attempts to instantiate class Inner. (In general, an inner class instance must be
	 created by an enclosing scope.) You can, however, create an instance of Inner outside of
	 Outer by qualifying its name with Outer, as in Outer.Inner.
	 As explained, an inner class has access to all of the members of its enclosing class, but
	 the reverse is not true. Members of the inner class are known only within the scope of the
	 inner class and may not be used by the outer class. For example,
	 // This program will not compile.
	 class Outer {
	 int outer_x = 100;
	 void test() {
	 Inner inner = new Inner();
	 inner.display();
	 }
	 // this is an inner class
	 class Inner {
	 int y = 10; // y is local to Inner
	 void display() {
	 System.out.println("display: outer_x = " + outer_x);
	 }
	 }
	 void showy() {
System.out.println(y); // error, y not known here!
     </p>
		</div>
   </center>
  </div>
</body>

</html>
